.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#cb1582;
}
.playlist{
  border: 2px solid white;
  padding: 50px; 
}
.login{
  background: white;
  color: black;
  font-weight: 800;
  text-decoration: none;
  padding: 10px;
}

.title{
  color: white;
}

.App-link {
  color: #61dafb;
}

